In [1]:
import openml

In [2]:
dataset = openml.datasets.get_dataset(1504)

In [3]:
X, y, X2, y2 = dataset.get_data(dataset_format="dataframe", target="Class")

In [12]:
X["Class"] = y

In [13]:
X

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V25,V26,V27,V28,V29,V30,V31,V32,V33,Class
0,42.0,50.0,270900.0,270944.0,267.0,17.0,44.0,24220.0,76,108,...,0.8182,-0.2913,0.5822,1,0,0,0,0,0,1
1,645.0,651.0,2538079.0,2538108.0,108.0,10.0,30.0,11397.0,84,123,...,0.7931,-0.1756,0.2984,1,0,0,0,0,0,1
2,829.0,835.0,1553913.0,1553931.0,71.0,8.0,19.0,7972.0,99,125,...,0.6667,-0.1228,0.2150,1,0,0,0,0,0,1
3,853.0,860.0,369370.0,369415.0,176.0,13.0,45.0,18996.0,99,126,...,0.8444,-0.1568,0.5212,1,0,0,0,0,0,1
4,1289.0,1306.0,498078.0,498335.0,2409.0,60.0,260.0,246930.0,37,126,...,0.9338,-0.1992,1.0000,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936,249.0,277.0,325780.0,325796.0,273.0,54.0,22.0,35033.0,119,141,...,-0.4286,0.0026,0.7254,0,0,0,0,0,0,2
1937,144.0,175.0,340581.0,340598.0,287.0,44.0,24.0,34599.0,112,133,...,-0.4516,-0.0582,0.8173,0,0,0,0,0,0,2
1938,145.0,174.0,386779.0,386794.0,292.0,40.0,22.0,37572.0,120,140,...,-0.4828,0.0052,0.7079,0,0,0,0,0,0,2
1939,137.0,170.0,422497.0,422528.0,419.0,97.0,47.0,52715.0,117,140,...,-0.0606,-0.0171,0.9919,0,0,0,0,0,0,2
1940,1261.0,1281.0,87951.0,87967.0,103.0,26.0,22.0,11682.0,101,133,...,-0.2000,-0.1139,0.5296,0,0,0,0,0,0,2

In [23]:
X = X.sample(frac=1)

In [24]:
X

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V25,V26,V27,V28,V29,V30,V31,V32,V33,Class
209,0.0,37.0,814236.0,814627.0,7292.0,466.0,536.0,608995.0,43,108,...,0.9054,-0.3475,1.0000,0,1,0,0,0,0,1
126,1595.0,1611.0,1594430.0,1594517.0,794.0,59.0,87.0,84410.0,62,127,...,0.8161,-0.1694,0.9993,1,0,0,0,0,0,1
23,82.0,92.0,149044.0,149083.0,264.0,15.0,39.0,32175.0,92,141,...,0.7436,-0.0479,0.6422,1,0,0,0,0,0,1
46,1495.0,1502.0,3509718.0,3509731.0,56.0,12.0,13.0,5587.0,85,116,...,0.4615,-0.2206,0.1965,1,0,0,0,0,0,1
1751,54.0,75.0,2344077.0,2344153.0,838.0,67.0,80.0,85442.0,90,119,...,0.7237,-0.2034,0.9998,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,30.0,58.0,1772722.0,1772736.0,253.0,50.0,26.0,28728.0,86,135,...,-0.5000,-0.1129,0.6453,0,1,0,0,0,0,1
1174,1031.0,1045.0,621518.0,621530.0,115.0,15.0,12.0,11562.0,68,127,...,-0.1429,-0.2145,0.2901,0,0,0,0,0,1,1
1117,315.0,341.0,530471.0,530483.0,116.0,32.0,19.0,14912.0,121,142,...,-0.5385,0.0043,0.5162,0,0,0,0,0,1,1
1058,993.0,1004.0,1589161.0,1589168.0,57.0,12.0,7.0,6528.0,103,126,...,-0.3636,-0.1053,0.1822,0,0,0,0,0,1,1
1821,54.0,62.0,3971234.0,3971359.0,583.0,75.0,125.0,60497.0,89,126,...,0.9360,-0.1893,0.9905,0,0,0,0,0,0,2

In [26]:
X.to_csv("steel-plates/steel-plates.csv", index=False)